html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  width: 100%;
  padding: 2.5%;
  display: flex;
  justify-content: center;
}
header .nav-bar {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
header .nav-bar .vl-1 {
  border-left: 2px solid #585a58;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 30px;
}
header .nav-bar .vl-2 {
  border-left: 2px solid #585a58;
  height: 50px;
  position: absolute;
  left: 53.5%;
  margin-left: 2.5%;
  top: 30px;
}
header .nav-bar a {
  margin: 20px;
}
body {
  margin: none;
  color: #2b2b2b;
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  background-color: #1991;
}
.title-container {
  background-image: url(/assets/home.png);
  background-size: cover;
  width: 70%;
  height: 600px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: baseline;
}
.title-container h1 {
  font-size: 200%;
  color: #ffffff;
  margin: 20% auto 0;
}
.title-container .btn-container {
  width: 60%;
  height: 20px;
  margin: 0 30% 30%;
}
.title-container .btn-container .contact-btn {
  margin: 20%;
  display: flex;
  padding: 15px;
  font-size: 1.5rem;
  align-self: center;
}
hr {
  margin: 2%;
}
.artists-container {
  display: flex;
  flex-wrap: row-nowrap;
  justify-content: space-evenly;
}
.artists-container .artist {
  width: 50%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.artists-container .artist .bio {
  margin: 10px;
  width: 50%;
  height: 300px;
  padding: 60px;
  background-color: #212718;
}
.artists-container .artist img {
  border-radius: 10px;
  width: 400px;
  height: 300px;
}
