html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
header {
  width: 80%;
  padding: 2.5% 15%;
  background-color: #3575;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
header .nav-bar {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}
body {
  margin: none;
  font-family: 'Raleway', sans-serif;
  line-height: 2rem;
  background-color: #1991;
}
.title-container {
  background-color: #1987;
  width: 80%;
  display: flex;
  align-items: center;
}
.title-container img {
  border-radius: 10px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}
.title-container h1 {
  font-size: 200%;
  color: #197219;
}
hr {
  margin: 2%;
}
.artists-container {
  display: flex;
  justify-content: space-evenly;
}
.artists-container .artist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.artists-container .artist .bio {
  width: 50%;
  height: 50px;
  padding: 60px;
}
.artists-container .artist img {
  border-radius: 10px;
  width: 500px;
  background-color: #1964;
}
