.title-container {
    background-color: #1987;
    width: 80%;
    // padding: 80%;
    display: flex;
   justify-content: center;

   img {
       margin: 20px 80%;
      justify-content: center;
 
   }
   h1 {
       font-size: 200%;
       color: #197219;
       justify-content: center;
   }
}

.artists-container {
    display: flex;
    justify-content: space-evenly;

    .artist {
        justify-content: space-evenly;
    }

}
