body {

    font-family: @font-family;
    line-height: @line-height;
    background-color: @background-color;
}

.title-container {
    background-color: #1987;
    width: 80%;
    // padding: 80%;
    display: flex;
   justify-content: center;

   img {
       border-radius: @border-radius;
       display: flex;
       width: 80%;
      justify-content: space-around;
 
   }
   h1 {
       font-size: 200%;
       color: #197219;
       
   }
}

.artists-container {
    display: flex;
    justify-content: space-evenly;

    .artist {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        background-color: #1964;

        .bio {
            width: 50%;
            height: 50px;
            padding: 50%;
        }


        img {
            border-radius: @border-radius;
            width: 300px;
        }
    }

}
